body {
    font-family: "Lato",sans-serif !important;
    color: #666;
}
body.errorpage {
    
    padding: 0px;
    position: relative;
}
body.errorpage .errorpage-container {
    max-width: 400px;
    width: 400px;
    text-align: center;
    color: #337AB7;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0px 0px 0px -200px;
}
body.errorpage .errorpage-container h1 {
    font-size: 200px;
  	font-weight: 100;
}
body.errorpage .errorpage-container h2 {
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 40px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    line-height: 1.1;
}